body {
    background-image: linear-gradient(45deg, rgb(82, 6, 6), rgb(230, 86, 86));
}
.container {
    margin-bottom: 100px;
}
button {
    padding: 2px 3px;
    padding-left:4px;
    font-size: 14px;
    color: white;
    background-color: firebrick;
}
button:hover {
    background-color: indianred;
}
.appHeader {
    color:white;
    font-weight:bolder;
}
.header-container {
    overflow-y: scroll;
    overflow-x: hidden;
}
.header-bookmarks-container {
    display: grid;
    grid-template-columns: 25% 25% 35% 5% 10%;
}
.header-bookmarks-container div {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    background-color: red;
    color: white;
}
.bookmark-list-scroll-containter {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
}
.bookmark-list-container {
    display: grid;
    grid-template-columns:   25% 25% 35% 5% 10%;
}
.bookmark-list-container div {
    text-align: left;
    padding: 5px;
}
.oddRow {
    background-color: white;
    border-top:1px solid white;
    border-bottom:1px solid white;
}
.evenRow {
    background-color: rgb(255, 220, 220);
    border-top:1px solid rgb(255, 220, 220);;
    border-bottom:1px solid rgb(255, 220, 220);;
}
.selectedRow {
    border-top:1px solid red;
    border-bottom:1px solid red;
}
.waiting {
    font-size: 14px;
    font-weight: bold;
    color:red;
}
.httpError {
    font-size: 14px;
    font-weight: bold;
    color:yellow;
}
.form-container {
    overflow-y: hidden;
}
.form-bookmark-container {
    display: grid;
    grid-template-columns:  25% 25% 35% 5% 10%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.form-bookmark-container div {
    text-align: left;
    padding: 5px;
    background-color: rgb(238, 144, 144);
}
.array-container {
    border:1px solid black;
}
.cell {
    height: 40px;
    cursor: pointer;
    font-size: 18px;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

